@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #A0FFB3;
}

h1 {
    font-size: 2em;
    color:  #327042;

}

#principal {
    text-align: center;
    background-color: #327042;
    color: white;
}

h2 {
    color: #4FB067;
}

.basico {
    color: #4FB067;
}

.intermediario {
    color: #a1b04f;
}

.avancado {
    color: #b0554f;
}